# Copy file to .env and fill in the values
ANTHROPIC_API_KEY=''
OPENAI_API_KEY=''
GOOGLE_API_KEY=''
# Configurations for Incalmo
broker_url=redis://localhost:6379/0
result_backend=redis://localhost:6379/0

DEBUG=false
DEBUG_PORT=5678